---
layout: default
---

<div class="hero has-background-black-bis is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-two">
                        <div class="field">
                          <div class="content">
                                <div class="card has-background-dark has-text-light">
                                    <div class="card-content"><div class="content">
  
                                    <div class="field">
                                      <h5>Discord Webhook</h5>
                                    </div>
                                    
                                    <div class="field"> 
                                        
                                    <div class="field"> 
                                    <input class="input" type="text" id="webhook-url" placeholder="URL Webhook">
                                    </div>
                                        
                                    <div class="columns">
                                    <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" id="username" placeholder="Username">
                                    </div>
                                    </div>

                                    <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" id="avatar_url" placeholder="Avatar Url">
                                    </div>
                                    </div>
                                    </div>

                                    <div class="field">
                                        <textarea class="textarea" id="content" placeholder="Message"></textarea>
                                    </div>

                                    <div class="field">
                                    <label>Color :</label>
                                    <input type="color" id="color" value="#ff0000">
                                    </div>
                                    
                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="author_name" placeholder="Author Name">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="author_url" placeholder="Author url">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="author_icon" placeholder="Author icon">
                                        </div>
                                        </div>
                                        </div>

                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="title" placeholder="Title">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="url_title" placeholder="Url Title">
                                        </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <textarea class="textarea" id="description" placeholder="Description"></textarea>
                                    </div>
                                    
                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="image" placeholder="Image">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="thumbnail" placeholder="Thumbnail">
                                        </div>
                                        </div>
                                    </div>

                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="field_name" placeholder="Field Name">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="field_value" placeholder="Field Value">
                                         </div>
                                        </div>
                                    </div>

                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="field_name2" placeholder="Field Name">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="field_value2" placeholder="Field Value">
                                         </div>
                                        </div>
                                    </div>

                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="footer" placeholder="Footer">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="icon_footer" placeholder="Icon Footer">
                                         </div>
                                        </div>
                                    </div>

                                    <button class="button" id="send">Send</button>   
                                                   
                                    <div id="result"></div>
                                    </div>

                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
  

<script src="{{ site.files }}/assets/discordwebhook.js"></script>
</body>