---
layout: default
---

<div class="hero has-background-black-bis is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-two">
                        <div class="field">
                          <div class="content">
                                <div class="card has-background-dark has-text-light">
                                    <div class="card-content"><div class="content">
  
                                    <div class="field">
                                      <h5>Discord Webhook</h5>
                                    </div>
                                    
                                    <div class="field"> 
                                        
                                    <div class="field"> 
                                    <input class="input" type="text" id="webhook-url" placeholder="URL Webhook">
                                    </div>
                                        
                                    <div class="columns">
                                    <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" id="username" placeholder="Username">
                                    </div>
                                    </div>

                                    <div class="column">
                                    <div class="field">
                                        <input class="input" type="text" id="avatar_url" placeholder="Avatar Url">
                                    </div>
                                    </div>
                                    </div>

                                    <div class="field">
                                        <textarea class="textarea" id="content" placeholder="Message"></textarea>
                                    </div>

                                    <div class="field">
                                    <label>Color :</label>
                                    <input type="color" id="color" value="#ff0000">
                                    </div>
                                    
                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="author_name" placeholder="Author Name">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="author_url" placeholder="Author url">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="author_icon" placeholder="Author icon">
                                        </div>
                                        </div>
                                        </div>

                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="title" placeholder="Title">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="url_title" placeholder="Url Title">
                                        </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <textarea class="textarea" id="description" placeholder="Description"></textarea>
                                    </div>
                                    
                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="image" placeholder="Image">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="thumbnail" placeholder="Thumbnail">
                                        </div>
                                        </div>
                                    </div>

                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="field_name" placeholder="Field Name">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="field_value" placeholder="Field Value">
                                         </div>
                                        </div>
                                    </div>

                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="field_name2" placeholder="Field Name">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="field_value2" placeholder="Field Value">
                                         </div>
                                        </div>
                                    </div>

                                    <div class="columns">
                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="footer" placeholder="Footer">
                                        </div>
                                        </div>

                                        <div class="column">
                                        <div class="field">
                                            <input class="input" type="text" id="icon_footer" placeholder="Icon Footer">
                                         </div>
                                        </div>
                                    </div>

                                    <button class="button" id="send">Send</button>   
                                                   
                                    <div id="result"></div>
                                    </div>

                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
  

<script>
$(document).ready(function() {
$("#send").click(function() {
var webhookUrl = $("#webhook-url").val();
var username = $("#username").val();
var avatar_url = $("#avatar_url").val();
var content = $("#content").val();

function hexToDecimal(hex) {
hex = hex.replace("#", "");
var decimal = parseInt(hex, 16);
return decimal;
}

var hexColor = $("#color").val();
var decimalColor = hexToDecimal(hexColor);

var author_name = $("#author_name").val();
var author_url = $("#author_url").val();
var author_icon = $("#author_icon").val();
var title = $("#title").val();
var url_title = $("#url_title").val();
var description = $("#description").val();
var dataImage = $("#image").val();
var dataThumbnail = $("#thumbnail").val();
var field_name = $("#field_name").val();
var field_value = $("#field_value").val();
var field_name2 = $("#field_name2").val();
var field_value2 = $("#field_value2").val();
var footer = $("#footer").val();
var icon_footer = $("#icon_footer").val();

$.ajax({
type: "POST",
url: webhookUrl,
contentType: "application/json",
data: JSON.stringify({
"username": username,
"avatar_url": avatar_url,
"content": content,
"embeds": [
  {
    "author": {
      "name": author_name,
      "url": author_url,
      "icon_url": author_icon
    },
    "title": title,
    "url": url_title,
    "description": description,
    "color": decimalColor.toString(),
    "fields": [
      {
        "name": field_name,
        "value": field_value,
        "inline": true
      },
      {
        "name": field_name2,
        "value": field_value2,
        "inline": true
      }
    ],
    "thumbnail": {
      "url": dataThumbnail
    },
    "image": {
      "url": dataImage
    },
    "footer": {
      "text": footer,
      "icon_url": icon_footer
    }
  }
]
}),
success: function() {  
var resultHtml = "<p>Status : 200 ok</p>";
$("#result").html(resultHtml);
setTimeout(function() {
location.reload();
}, 5000);

},
error: function(xhr, status, error) {
$("#result").html("<p>Status: " + error + "</p>");
}
});
});
});

</script>

</body>